
.title{
    text-align: center;
  background-color:gba(78,6,44,255) ;
background-repeat: no-repeat;
  background-size:3.5cm ; 
    display: grid;
    justify-content: center;
}
.totko{

background-color:rgba(96,122,147,255) ;
  
  

}